<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Afrikaans</string>
		<key>code</key>
		<string>af</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Albanian</string>
		<key>code</key>
		<string>sq</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Arabic</string>
		<key>code</key>
		<string>ar</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Azerbaijani</string>
		<key>code</key>
		<string>az</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Basque</string>
		<key>code</key>
		<string>eu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bengali</string>
		<key>code</key>
		<string>bn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Belarusian</string>
		<key>code</key>
		<string>be</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bulgarian</string>
		<key>code</key>
		<string>bg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Catalan</string>
		<key>code</key>
		<string>ca</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Chinese Simplified</string>
		<key>code</key>
		<string>zh-CN</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Chinese Traditional</string>
		<key>code</key>
		<string>zh-TW</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Croatian</string>
		<key>code</key>
		<string>hr</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Czech</string>
		<key>code</key>
		<string>cs</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Danish</string>
		<key>code</key>
		<string>da</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Dutch</string>
		<key>code</key>
		<string>nl</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>English</string>
		<key>code</key>
		<string>en</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Esperanto</string>
		<key>code</key>
		<string>eo</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Estonian</string>
		<key>code</key>
		<string>et</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Filipino</string>
		<key>code</key>
		<string>tl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French</string>
		<key>code</key>
		<string>fr</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Galician</string>
		<key>code</key>
		<string>gl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Georgian</string>
		<key>code</key>
		<string>ka</string>
	</dict>
	<dict>
		<key>name</key>
		<string>German</string>
		<key>code</key>
		<string>de</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Greek</string>
		<key>code</key>
		<string>el</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>HaitianCreole</string>
		<key>code</key>
		<string>ht</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hebrew</string>
		<key>code</key>
		<string>iw</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hindi</string>
		<key>code</key>
		<string>hi</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Hungarian</string>
		<key>code</key>
		<string>hu</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Icelandic</string>
		<key>code</key>
		<string>is</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Indonesian</string>
		<key>code</key>
		<string>id</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Irish</string>
		<key>code</key>
		<string>ga</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italian</string>
		<key>code</key>
		<string>it</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Japanese</string>
		<key>code</key>
		<string>ja</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Kannada</string>
		<key>code</key>
		<string>kn</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korean</string>
		<key>code</key>
		<string>ko</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Latin</string>
		<key>code</key>
		<string>la</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Latvian</string>
		<key>code</key>
		<string>lv</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Lithuanian</string>
		<key>code</key>
		<string>lt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Macedonian</string>
		<key>code</key>
		<string>mk</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Malay</string>
		<key>code</key>
		<string>ms</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Maltese</string>
		<key>code</key>
		<string>mt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Norwegian</string>
		<key>code</key>
		<string>no</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Persian</string>
		<key>code</key>
		<string>fa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Polish</string>
		<key>code</key>
		<string>pl</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Portuguese</string>
		<key>code</key>
		<string>pt</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Romanian</string>
		<key>code</key>
		<string>ro</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian</string>
		<key>code</key>
		<string>ru</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Serbian</string>
		<key>code</key>
		<string>sr</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovak</string>
		<key>code</key>
		<string>sk</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Slovenian</string>
		<key>code</key>
		<string>sl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spanish</string>
		<key>code</key>
		<string>es</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Swahili</string>
		<key>code</key>
		<string>sw</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Swedish</string>
		<key>code</key>
		<string>sv</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Tamil</string>
		<key>code</key>
		<string>ta</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Telugu</string>
		<key>code</key>
		<string>te</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thai</string>
		<key>code</key>
		<string>th</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkish</string>
		<key>code</key>
		<string>tr</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Ukrainian</string>
		<key>code</key>
		<string>uk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Urdu</string>
		<key>code</key>
		<string>ur</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Vietnamese</string>
		<key>code</key>
		<string>vi</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Welsh</string>
		<key>code</key>
		<string>cy</string>
		<key>tts</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Yiddish</string>
		<key>code</key>
		<string>yi</string>
	</dict>
</array>
</plist>
