<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>English</string>
		<key>code</key>
		<string>en</string>
	</dict>
	<dict>
		<key>name</key>
		<string>French</string>
		<key>code</key>
		<string>fr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spanish</string>
		<key>code</key>
		<string>es</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chinese Simplified</string>
		<key>code</key>
		<string>zh-CN</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chinese Traditional</string>
		<key>code</key>
		<string>zh-TW</string>
	</dict>
	<dict>
		<key>name</key>
		<string>German</string>
		<key>code</key>
		<string>de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Japanese</string>
		<key>code</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Portuguese</string>
		<key>code</key>
		<string>pt</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Italian</string>
		<key>code</key>
		<string>it</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Korean</string>
		<key>code</key>
		<string>ko</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Polish</string>
		<key>code</key>
		<string>pl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Turkish</string>
		<key>code</key>
		<string>tr</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Swedish</string>
		<key>code</key>
		<string>sv</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Russian</string>
		<key>code</key>
		<string>ru</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Indonesian</string>
		<key>code</key>
		<string>id</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Hungarian</string>
		<key>code</key>
		<string>hu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Finnish</string>
		<key>code</key>
		<string>fi</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dutch</string>
		<key>code</key>
		<string>nl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Czech</string>
		<key>code</key>
		<string>cs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Arabic</string>
		<key>code</key>
		<string>ar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Afrikaans</string>
		<key>code</key>
		<string>af</string>
	</dict>
</array>
</plist>
